@{
    ViewData["Title"] = "Create";
}
<form method="post">
    <div class="col-8">
        <div>
            <label>Fullname</label>
            <input class="form-control" type="text" name="Fullname" placeholder="Fullname" />
        </div>
        <div>
            <label>Email</label>
            <input class="form-control" type="text" name="Email" placeholder="Email" />
        </div>
        <div>
            <label>Password</label>
            <input class="form-control" type="text" name="Password" placeholder="Password" />
        </div>
        <div>
            <input class="btn btn-secondary mt-3" type="submit" value="Add User" />
        </div>
    </div>
</form>