@model User 
@{
    ViewData["Title"] = "Edit";
}
<form method="post">
    <div class="col-8">
        <div>
            <label>Fullname</label>
            <input value="@Model.FullName" class="form-control" type="text" name="Fullname" placeholder="Fullname" />
        </div>
        <div>
            <label>Email</label>
            <input value="@Model.Email" class="form-control" type="text" name="Email" placeholder="Email" />
        </div>
        <div>
            <label>Password</label>
            <input value="@Model.Password" class="form-control" type="text" name="Password" placeholder="Password" />
        </div>
        <div>
            <input class="btn btn-secondary mt-3" type="submit" value="Edit User" />
        </div>
    </div>
</form>